<% if flash[:login_success] %>
  <% flash[:login_success].each do |success| %>
    <div class="alert alert-success">
      <%= success %>
    </div>
  <% end %>
<% end %>

<div class="">
  <h3>Welcome to your profile</h3>
  <p class="info-body">Your Name: <span class="info-detail"><%= @user.name %></span></p>
  <p class="info-body">Your Email: <span class="info-detail"><%= @user.email %></span></p>
  <p class="info-body">Your ID is: <span class="info-detail info-id "><%= session[:user_id] %></span> <small class="text-danger">Remember to login with your ID</small></p>
  <a href= "<%= logout_path %>" class="text-danger">Logout Here</a>
  <a href= "<%= login_path %>" class="text-primary ml-4">Signin as another user</a>
</div>

<div class="container-sm">
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
        <div class="card-header bg-danger text-white">
          Previous Events
        </div>
        <% if @prev_events %>
          <ul class="list-group list-group-flush">
            <% @prev_events.each do |event| %>
              <li class="list-group-item bg-warning"><%= event.title %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
        <div class="card-header bg-primary text-white">
          Upcoming Events
        </div>
        <% if @upcoming_events %>
          <ul class="list-group list-group-flush">
            <% @upcoming_events.each do |event| %>
              <li class="list-group-item bg-info text-white"><%= event.title %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>


