
<p>Event Title: <%= @event.title %></p>
<div class="mb-3">Description: <br> <%= @event.description %> </div>
<a href="/events/<%= @event.id %>/attend">Attend Event</a>

<p>Creator: <%= @event.creator.name %></p>
<%= link_to 'Back', events_path %>

<%= render 'attendees', event: @event %>